*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   top:0;
   position:   fixed;
   width: 100%; 
   z-index: 9;
   background-color: #3873cc;

 }
 
:root{
  --lighblue:hsl(195, 78%, 70%);
  --primary: #3873cc;
  --warning:  #eb9b07f1;
  --success: #198754;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529; 
  --bg-color: #ffffff;
  --text-color: #000000;
  
  --font-family-tire:"Playfair", serif;
  --font-family-body:'poppins' ,sans-serif;

  --space-sm: 10px;
  --space-md: 20px;
  --space-lg: 40px;

  --text-sm: 14px;
  --text-md: 18px;
  --text-lg: 32px;
  --text-xl: 55px;
  }
body{
  background-color:#FFFDF2;
  font-family: var(--font-family-body);
    
  }
  h1{
      font-size: var(--text-xl);
      font-family: var(--font-family-tire);
    }
    h2{
      font-size: var(--text-lg);
      font-family: var(--font-family-tire);
    }
    .btn{
        background-color: var(--lighblue);
    }
    .tarif{
      margin-top: 3rem;
    }
    .contact{
      margin-top: 3rem;
    }
    .filtrage{
      margin-top: 5rem;
    }
    
   .hero1{
   background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../images/background.png');
   background-size: cover;
   background-position: center;
   /* height: 100vh; */
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   color: #f8f9fa;
   margin-top: var(--space-lg);
   } 
   #services img{
    height: 75px;
    width: 75px;
   }

.icone1{
  color: yellow;
}
.icone2{
  color: green;
}
.icone3{
  color: var(--primary);
}
.icone4{
  color: purple;
}
.statistique{
  font-family: var(--font-family-tire);
  margin-top: -5rem;
}
.blockquote{
    height: 100vh ;
    object-fit: cover;
}
main{
  margin-top: 5 rem;
}

.filters .btn{
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.3s;
}
.filters .btn:hover{
    transform: translateY(-2px);
}



.filters {
   
}
.filters button {
   
}

   /* ============bento grild============== */
.cards{
  display: grid;
  grid-template-columns:1fr 2fr;
  grid-template-rows:repeat(2,200px);
  gap: 15px;
  width: 65%;
  margin: 10px auto;
  
}
.card1{
    background-color: #c7dbf8; 
}
.card2{
    background-color: #bcf3cb;
}
.card3{
    background-color: #ffeec5;
}
.card4{
    background-color: #d5c2f8;
}

card2{
  grid-column: 1  ;
  grid-row: 1;
}
card3{
  grid-column:1 ;
  grid-row: 1/3;
}
card4{
  grid-column: 1;
  grid-row: 1/3;
}
.num1{
  box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.3);
}
.num1:hover{
  transform: scale(1.05);
}
               /* responsive design mobile et tablette, media queries */
  @media (max-width: 375px) {
    .profiles{
      grid-template-columns: repeat(2, 1fr);
    }
    
    .bento{
      grid-template-columns: repeat(2, 1fr);
    }
    
  }

  @media (max-width: 768px){
    .profiles{
      grid-template-columns: 1fr;
    }
    
    .bento{
      grid-template-columns: 1fr;
    }
    
    h1{
    font-size: 1.8rem;
    }
    h2{
      font-size: 1.5rem;
    }
    h3{
      font-size: 1.3rem;
    }
    p{
      font-size: 0.9rem;
    }
    .statistique{
      flex-direction: column;
      gap: 0.3px;
    }

    .hero1{
      padding: 20px;
    }
     
  }
  .dark-mode{
    background-color: #121212;
    color: #f8f9fa;
  }
   .dark-btn{
  margin-left: 20px;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background-color: #212529;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.dark-btn:hover{
  background-color: #90b5ec;
  transform: scale(1.05);
}
   /* =========navbar========== */
   .navbar{
    padding: 18px 30px;
    transition: 0.5s;
    background-color: transparent;
   }
   .navbar.scrolled{
    background-color: #000;
    padding: 8px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   }
   /* ================bouton retour============ */
   #topBtn{
  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 12px 16px;
  border: none;
  border-radius: 50%;

  background-color: #0d6efd;
  color: white;

  cursor: pointer;

  display: none;

  transition: 0.3s;
}
      /* =============compteur statistique et animation======== */
  .statistique h4{
    /* margin-top: 30px; */
    font-size: 1.8rem;

  }
  .counter{
    font-size: 40px;
    font-weight: bold;
    color: #e69b11;
}

.fade-in{
  opacity: 0;
  transform: translateY(40px);
  transition: 0.9s;
}
.fade-in.show{
  opacity: 1;
  transform: translateY(0);
}

   /* ============validation du formulaire de contact========== */
.error{
    color:red;
    font-size:14px;
}

#successMessage{
    color:green;
    margin-top:15px;
    text-align:center;
}


